# History files
.Rhistory

# Example code in package build process
*-Ex.R

# knitr figure folders
*-figure/

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Markdown
.md
.Rproj.user

## Annoying Windows file
Thumbs.db
